/* CoursesControl.css */

/* .container {
  background-color: rgba(255, 255, 255, 0.1);
}

.list-group {
  border: none;
}

.list-group-item:last-child {
  background-color: rgba(255, 255, 255, 0);
}

.table {
  --bs-table-bg: rgba(255, 255, 255, 0.1) !important;
}

tr {
  background-color: rgba(255, 255, 255, 0.1);
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
} */
