/* StudentGrades.css */

.student-grades-main {
    margin-top: 10px;
}

.table-head {
    border-bottom: 1px solid #6384c0;
  }
  
  .table-row {
    border-bottom: 1px solid #6384c08c;
  }
  
  .table-course-name {
    text-align: left;
  }
  