/* ProfilePage.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .profile-detail {
    background-color: #f2f2f2; /* Γκρι φόντο */
    padding: 10px; /* Εσωτερική απόσταση για το κείμενο */
    margin-bottom: 10px; /* Περιθώριο κάτω από κάθε στοιχείο */
    border: 1px solid #ccc; /* Γκρι περίγραμμα */
    display: flex; /* Χρήση flex για ευθυγράμμιση */
    align-items: center; /* Κεντράρισμα στοιχείων κατακόρυφα */
    max-width: 300px;
  }
  
  .profile-detail label {
    font-weight: bold; /* Έντονη γραφή για τις ετικέτες */
    min-width: 150px; /* Ορίζουμε ένα ελάχιστο πλάτος για τις ετικέτες */
  }
  
  .courses-list {
    list-style-type: none;
    padding: 0;
  }
  
  .courses-list li {
    background-color: #e9e9e9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .course-name {
    font-weight: bold;
  }
  