/* Footer.css */
.footer {
  background-color: var(--footer-background-color);
  color: #fff;
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  height: fit-content;
}

.footer-item {
  display: flex;
  align-items: baseline;
  margin: 0 2rem;
  color: #fff; /* Ensures the text is light-colored, adjust the color as needed */
}

.footer-item a {
  color: var(--light-blue-on-hover);
  text-decoration: none; /*Removes underline from links */
  margin-left: 0.5rem;
  white-space: nowrap;
}

.footer-item a:hover {
  text-decoration: underline; /* Underlines link on hover, optional */
}
