.carousel-control-next-icon {
  background-image: url("./icons/right_arrow_icon.svg") !important;
}

.carousel-control-prev-icon {
  background-image: url("./icons/left_arrow_icon.svg") !important;
}

.carousel {
  height: 100%;
} 