.login-container input[type="email"],
.login-container input[type="password"] {
  background-color: #fff;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
  border-color: #a9a9a9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 8px 12px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}
